In [1]:
# Import modules
import pandas as pd
import numpy as np
import matplotlib as mpl
import seaborn as sb

In [ ]:
outages = [
    {'number': 'ISSUE0006817',
     'priority': 'sev 2',
     'outage_start_time': '12-16-2025 11:49:36'},
    {'number': 'ISSUE0006818',
     'priority': 'sev 2',
     'outage_start_time': '12-20-2025 11:49:36'},
    {'number': 'ISSUE0006819',
     'priority': 'sev 2',
     'outage_start_time': '12-26-2025 11:49:36'}]
outages_df = pd.DataFrame(outages)
outages_df.head()

      number priority    outage_start_time
0  MI0006817    sev 2  12-16-2025 11:49:36
1  MI0006818    sev 2  12-20-2025 11:49:36
2  MI0006817    sev 2  12-26-2025 11:49:36